<div class="container sticky-wrapper">
    <div class="top-bar">


        <!-- logo -->
        <a href="./" class="logo top-bar__logo">
            <img src="./assets/icons/logo.svg" alt="EduPress" class="logo__img top-bar__logo-img">
            <h2 class="logo__title top-bar__logo-title">EduPress</h2>
        </a>

        <!-- navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="./index.html" class="navbar__link">Home</a>
                </li>
                <li>
                    <a href="./courses.html" class="navbar__link">Courses</a>
                </li>
                <li>
                    <a href="./blog.html" class="navbar__link">
                        Blog
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__arrow">
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">Page</a>
                </li>
            </ul>
        </nav>

        <!-- actions -->
        <div class="top-actions">
            <!-- more -->
            <button class="top-actions__more">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
            </button>

            <div class="top-actions__user">
                <button class="btn--primary top-actions__user-btn">
                    <a href="./sign-in.html">Sign In</a>
                </button>

                <button class="btn--primary top-actions__user-btn">
                    <a href="./sign-up.html">Sign Up</a>
                </button>
            </div>
        </div>

    </div>
</div>