<div class="container sticky-wrapper">
    <div class="top-bar">
        <!-- more -->
        <button class="top-bar__more">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon">
        </button>

        <!-- logo -->
        <a href="./" class="logo top-bar__logo">
            <img src="./assets/icons/logo.svg" alt="EduPress" class="logo__img top-bar__logo-img">
            <h2 class="logo__title top-bar__logo-title">EduPress</h2>
        </a>

        <!-- navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="./index.html" class="navbar__link">Home</a>
                </li>
                <li>
                    <a href="./courses.html" class="navbar__link">Courses</a>
                </li>
                <li>
                    <a href="./blog.html" class="navbar__link">
                        Blog
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__arrow">
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">Page</a>
                </li>
            </ul>
        </nav>

        <!-- actions -->
        <div class="top-actions">
            <div class="top-actions__user">
                <button class="btn--primary top-actions__user-btn">
                    <a href="./sign-in.html">Sign In</a>
                </button>

                <button class="btn--primary top-actions__user-btn">
                    <a href="./sign-up.html">Sign Up</a>
                </button>
            </div>
        </div>

    </div>
</div>