@use "../abstrasts";

.auth {
    display: flex;
    min-height: 100vh;

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;
        display: flex;
        align-items: center;
        background: #efefef;
        justify-content: center;
        flex-direction: column;
        gap: 50px;

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &-logo {
            top: 80px;

        }

        &-next {
            bottom: 50px;
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstrasts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 1s;
            overflow: auto;

            &.hide {
                translate: 100%;
            }
        }

        ;

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;

            @include abstrasts.screen(md) {
                padding: 25px 0px;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;

        @include abstrasts.screen(md) {
            margin-top: 40px;
            font-size: 24px;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        color: #9E9DA8;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__form {
        width: 100%;
        margin-top: 60px;
    }

    &__link {
        color: #0071DC;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.667%
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;

        @include abstrasts.screen(md) {
            margin-top: 40px;
            gap: 20px;
        }
    }

    &__btn {
        width: 100%;

        @include abstrasts.screen(md) {
            font-size: 20px;
        }
    }

    &__text {
        margin-top: 108px;
        color: #9E9DA8;
        font-size: 18px;
        font-weight: 400;
        line-height: 144.444%;

        @include abstrasts.screen(md) {
            margin-top: 40px;
            font-size: 16px;
        }

        &-link {
            font-size: inherit;
        }
    }
}