@use "../abstrasts";

.course__detail {
    background: radial-gradient(100% 100% at 50% 50%,
            #FF782D 0%,
            #FF944D 50%,
            #FFC199 100%);
    color: #fff;
    padding: 50px 0;

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 48px;
        background-color: #fff;
        color: var(--text-color);
        border-radius: 32px;

        &__content {
            h2 {
                font-size: 48px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 16px;
            }

            &-desc {
                max-width: 600px;
                font-weight: 400;
                line-height: 1.4;
                font-size: 18px;
                margin-bottom: 24px;
            }

            &-btn {
                display: flex;
                align-items: center;
                margin-top: 20px;

                @include abstrasts.screen(sm) {
                    flex-direction: column;
                    gap: 20px;
                    align-items: flex-start;

                }
            }
        }


        &__img {


            img {
                border-radius: 24px;
                overflow: hidden;

                @include abstrasts.screen(lg) {
                    width: 400px;
                    height: 400px;
                }

                @include abstrasts.screen(md) {
                    display: none;
                }
            }
        }
    }

}

.course__info {
    display: flex;
    justify-content: space-between;

    &-rate {
        &__star {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 18px;
                height: 18px;
            }
        }

        &__number {
            font-size: 24px;
            font-weight: 700;
        }



        &__text {
            font-weight: 300;
            margin-top: 10px;
        }
    }
}

.course__enrolled {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    svg {
        width: 14px;
        height: 14px;
    }

    &-text {
        font-size: 14px;

        strong {
            font-weight: 700;
        }
    }
}

.course__detail-btn {
    padding-inline: 12px;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;

    &__price {
        font-size: 18px;
        font-weight: 700;
        margin-left: 16px;
        margin-right: 10px;

        @include abstrasts.screen(sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.course__item-info__price-item-price {
    color: #ff6a00;
}

.course__instructor {
    &-info {
        display: flex;
        align-items: center;
        gap: 24px;

        &__details {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
                font-weight: 500;
                font-size: 20px;
            }

            p {
                line-height: 1.5;
                color: #555555;
            }

            &-stats {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &-desc {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #555555;
        line-height: 1.5;
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            letter-spacing: 1.2;
        }

        &__icon {
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                filter: brightness(0) saturate(100%) invert(50%) sepia(98%) saturate(1216%) hue-rotate(340deg) brightness(102%) contrast(101%);
                transition: filter 0.3s ease;
                border-radius: 50px;
            }
        }

    }
}