@use "../abstrasts";

%flexItemsCenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 25px 0;

    &__more {
        display: none;

        @include abstrasts.screen(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstrasts.screen(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
        gap: 20px;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        font-weight: 700;
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-actions {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;

    &__user {
        @extend %flexItemsCenter;
        gap: 10px;

        a,
        span {
            font-family: "Jost", sans-serif;
            font-weight: 500;
        }
    }

    &__btn {
        @extend %flexItemsCenter;
        justify-content: center;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        cursor: pointer;
    }
}