@use "../abstrasts";

%flexItemsCenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}


.top-bar {
    @extend %flexItemsCenter;
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;

    @include abstrasts.screen(xl) {
        justify-content: space-between;
    }

    @include abstrasts.screen(lg) {
        justify-content: space-between;
    }

    @include abstrasts.screen(md) {
        justify-content: space-between;
    }
}

.navbar {
    margin-left: 144px;

    @include abstrasts.screen(xl) {
        margin-left: 0;
    }

    @include abstrasts.screen(lg) {
        margin-left: 0;
    }

    @include abstrasts.screen(md) {
        margin-left: 0;
    }

    &__list {
        @extend %flexItemsCenter;
        gap: 70px;

        @include abstrasts.screen(lg) {
            gap: 40px;
        }

        @include abstrasts.screen(md) {
            display: none;
        }
    }

    &__link {
        position: relative;
        @extend %flexItemsCenter;
        gap: 6px;
        font-weight: 700;
        transition: color 0.3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: var(--primary-color);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            color: var(--primary-color);

            &::after {
                width: 100%;
            }
        }

        &:hover img {
            filter: brightness(0) saturate(100%) invert(50%) sepia(98%) saturate(1216%) hue-rotate(340deg) brightness(102%) contrast(101%);
        }
    }

    &__arrow {
        margin-top: 3px;
        transition: filter 0.3s ease;
    }
}

.top-actions {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;

    @include abstrasts.screen(xl) {
        margin-left: 0;
    }

    @include abstrasts.screen(lg) {
        margin-left: 0;
    }

    @include abstrasts.screen(md) {
        margin-left: 0;
    }

    &__more {
        background-color: transparent;
        display: none;

        @include abstrasts.screen(md) {
            display: block;
        }

        svg {
            width: 24px
        }
    }


    &__user {
        @extend %flexItemsCenter;
        gap: 10px;

        @include abstrasts.screen(md) {
            display: none;
        }

        a,
        span {
            font-family: "Jost", sans-serif;
            font-weight: 400;
        }

        &-btn {
            padding: 14px 34px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &-course {
            font-weight: 700;
            margin-right: 10px;
        }

        &-email {
            font-family: var(--font-family-secondary);
        }

    }
}