.dropdown {
    position: relative;
    display: inline-block;

    &__user {

        color: #333;
        border: none;
        cursor: pointer;
        font-weight: 500;
    }

    &__menu {
        position: absolute;
        top: 11px;
        width: 100%;
        right: 0;
        margin-top: 6px;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
        list-style: none;
        padding: 0;
        z-index: 1000;
        min-width: 160px;
    }

    &__item {
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: none;
        }
    }

    &__link {
        display: block;
        padding: 10px 16px;
        color: #333;

        &:hover {
            background: #f1f1f1;
        }
    }

    &:hover &__menu {
        display: block;
    }
}