@use "../abstrasts";

.form {

    &__group {
        margin-top: 30px;

        @include abstrasts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__group:has(:inva):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ff0000;
        }

        .form__error {
            display: block;
        }
    }


    &__text-input {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #D2D1D6;

        &:focus-within {
            border-color: #333;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 18px;
        font-weight: 500;
        line-height: 144.444%;

        &-icon {
            margin-left: 12px;
        }

        &::placeholder {
            color: #D2D1D6;
        }
    }

    &__error {
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        color: #ff0000;
        display: none;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;
        gap: 10px;

        &-label {
            margin-left: 29px;
            color: #9E9DA8;
            font-size: 15px;
            font-weight: 500;
            line-height: 146.667%
        }

        &::before,
        &::after {
            content: "";
            position: absolute;

        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9E9DA8;
        }


    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background-color: #ffb700;
        }

        &::after {
            content: "";
            width: 15px;
            height: 8px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 5px;
        }
    }
}